@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  transition:
    color 300ms,
    background-color 300ms;
  @apply bg-white dark:bg-charcoal;
}

body {
  font-size: 16px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    color 300ms,
    background-color 300ms,
    opacity 400ms;
  @apply rounded-xl bg-neutral-200 text-black md:rounded-2xl landscape:rounded-2xl dark:bg-black dark:text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#theme-toggler::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 300ms;

  mask: radial-gradient(circle, black 30%, #000000ee 50%, transparent 70%);
  backdrop-filter: blur(20px);
}

@keyframes loading-indicator {
  from {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0.75em);
  }
  80% {
    transform: translateY(-0.75em);
  }
  to {
    transform: translateY(0);
  }
}
